<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orange</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/orange.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            show_comment();
        });

        function show_comment() {
            $.ajax({
                type: 'GET',
                url: '/orange/show',
                data: {},
                success: function (response) {
                    let rows = response['comments']
                    for(let i = 0; i < rows.length; i++){
                        let name = rows[i]['name']
                        let comment = rows[i]['comment']
                        let num = rows[i]['num']

                        let temp_html = `<div class="commentbox">
                                            <div>
                                                <p>${comment}</p>
                                                <footer class="blockquote-footer">${name}</footer>
                                            </div>
                                            <div id="${num}">
                                                <input type="password" class="form-control" placeholder="비밀번호">
                                                <button onclick= "delete_comment(${num})" type="button" class="btn btn-dark"> 삭제하기 </button>
                                            </div>
                                        </div>`
                        $('#comment-list').append(temp_html)
                    }
                }
            });
        }
        function save_comment() {
            let name = $('#name').val()
            let comment = $('#comment').val()
            let pw = $('#pw').val()

            $.ajax({
                type: 'POST',
                url: '/orange/save',
                data: { name_give : name, comment_give : comment, pw_give : pw},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }
        function delete_comment(num){
            let deletepw = document.getElementById(num.toString()).querySelector("input").value
            $.ajax({
                type: "POST",
                url: "/orange/delete",
                data: {deletepw_give:deletepw, num_give : num},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

    </script>
</head>
<body>
    <div class="ground">
        <div class="gradient-border">
            <h1 class="h1border">이름 : 오길환</h1>
            <div id="introgrid">
                <img src="/static/myimg.jpg" width="200px"  alt="자기소개 이미지">
                <div id="introduction">
                    안녕하세요 저는 팀에서 주황색을 맡고 있는 오길환입니다<br>
                    저는 장범준의 노래하면 다들 떠올리시는 그곳 여수에 살고 있습니다. 여수 밤바다~<br>
                    코딩은 처음이지만 마음만은 이미 세계 최고입니다.<br>
                    아직 부족한 게 많고 배워야 할 것이 많지만 끝까지 노력해서<br>
                    훌륭한 개발자가 되어보겠습니다.<br>
                    내배캠 4기 파이팅!!!
                </div>
            </div>
            <div id="mbtigrid">
                <div id="strength">
                    나만의 장점
                </div>
                <div id="mystrength">
                    열정적이고 활발하며 따뜻한 이미지를 가졌습니다. (힘들고 지칠 때 내게 기대~ )
                </div>
                <div id="mystyle">
                    협업 스타일
                </div>
                <div id="teamstyle">
                    적극적으로 협업에 참여하고 좋은 분위기를 만들기 위해 노력합니다.
                </div>
                <div id="mbti">
                    MBTI : ENFP
                </div>
                <div id="mymbti">
                    따뜻하고 정열적이고 활기가 넘치며 재능이 많고 상상력이 풍부합니다.
                </div>
            </div>
            <div class="snsgrid">
                <div id="snscomment">
                    SNS,BLOG 구경하기
                </div>
                <div id="btnbolg">
                        <a href="https://5kiran.tistory.com/" target="_blank" class="btntstory">
                            <img src="/static/tstoryblog.png"
                                 alt="티스토리 블로그 이동" style="width: 40px"/>
                        </a>
                        <a href="https://blog.naver.com/ssses1" target="_blank" style="margin-left: 10px" class="btntstory">
                            <img src="/static/naverblog.png"
                                 alt="네이버 블로그 이동" style="width: 40px"/>
                        </a>
                        <a href="https://www.instagram.com/5__kiran/" target="_blank" style="margin-left: 10px" class="btntstory">
                            <img src="/static/instagram.png"
                                 alt="인스타그램 이동" style="width: 40px"/>
                        </a>
                </div>
            </div>
        </div>
        <div class ="guest-border">
            <div id = "gusetbox">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="name" placeholder="nick"
                           style="width: 200px">
                    <label for="name">닉네임</label>
                    <div class="col-auto">
                        <label for="pw" class="visually-hidden">비밀번호</label>
                        <input type="password" class="form-control" id="pw" placeholder="비밀번호">
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                              style="height: 105px"></textarea>
                    <label for="comment">응원을 남겨주세요</label>
                </div>
            </div>
            <button onclick= "save_comment()" type="button" class="btn btn-dark"> 등록하기 </button>
            <div id="comment-list">
            </div>
        </div>
    </div>
</body>
</html>